name: Automated Tagging (release-please)

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          command: manifest   # IMPORTANT: run manifest mode directly
          release-type: simple
          skip-github-release: true   # no Release object
          bump-minor-pre-major: true  # optional
          bump-patch-for-minor-pre-major: true
